{% extends 'flats/base.html' %}

{% load humanize %}
{% load filters %}

{% block content %}
	<h1>{{ flats.project.name }}</h1>
	<br>
	<p>{{ flats.address }}.</p>
	<p>{% if flats.rooms == -1 %}
		Студия
		{% else %}
		{{ flats.rooms }} к
		{% endif %}
		| Площадь {{ flats.area }} м | Этаж {{ flats.floor }} |
		{% if flats.finishing == 1 %}
		С отделкой
		{% else %}
		 Без отделки
		{% endif %}
		| Заселение {{ flats.settlement_date|date:"d-m-Y" }}
	</p>
    <div class="cls-button">
		<a onclick="javascript:history.back(); return false;"><< Предыдущая страница</a>
		<div class="space"></div>
		<a target="_blank" href="{{ flats.project.url }}{{ flats.url_suffix }}">Смотреть на сайте застройщика >></a>
	</div>
	<br><br>

    <p>Динамика изменения цены:</p>
	<table class="table table-hover">
	  <thead>
		<tr>
		  <th scope="col">Дата</th>
		  <th scope="col">Цена</th>
		  <th scope="col">Бронь</th>
		  <th scope="col">Предложение</th>
		  <th scope="col">Описание</th>
		</tr>
	  </thead>
	  <tbody>

	  	{% for price in flats.prices.all %}
		<tr>
		  <th scope="row" width="80">{{ price.data_created|date:"d-m-Y" }}</th>
		  <td>{{ price.price|intcomma }} руб.</td>
		  <td>{{ price.booking_status }}</td>
		  <td>{{ price.benefit_name }}</td>
		  <td>{{ price.benefit_description|replace_n }}</td>
		</tr>
	  	{% endfor %}

	  </tbody>
	</table>
	<br>

	{% if messages %}
		{% for message in messages %}
		<p {% if message.tags %} class="{{ message.tags }}"{% endif %}>
			{{ message }}
		</p>
		{% endfor %}
	{% endif %}

	{% if user.is_email_activated %}
		<form action="{% url 'select-flat' flats.pk %}" method="post">
			{% csrf_token %}
			{% if chose %}
				<button type="submit" name="flat_id" value="{{ flats.pk }}" class="btn btn-secondary bg-gradient">Больше не отслеживать</button>
			{% else %}
				<button type="submit" name="flat_id" value="{{ flats.pk }}" class="btn btn-success">Отслеживать изменения по этой квартире</button>
			{% endif %}
		</form>
	{% else %}
		{% if user.is_authenticated %}
		<p>
			Чтобы подписаться на рассылку изменений по этой квартире, подтвердите адрес электронной почты. <br>
			На указанный при регистрации e-mail: "{{ user.email }}" Вам отправлено письмо с инструкциями. <br>
			<a class="underline" href="{% url 'repeat-send-email' flat_id=flats.pk %}">Отправить e-mail повторно.</a>
		</p>
		{% else %}
			<p>
			Чтобы подписаться на рассылку изменений по этой квартире, <br>
			<a class="underline" href="{% url 'login' %}">авторизуйтесь</a> или
			<a class="underline" href="{% url 'register' %}">зарегистрируйтесь</a> это бесплатно.
			</p>
		{% endif %}
	{% endif %}

{% endblock %}