{% extends 'flats/base.html' %}

{% block content %}
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Город, ЖК,<br>На сайт застройщика</th>
        <th scope="col">Комнат,<br>Площадь,<br>Этаж</th>
        <th scope="col">Бронь</th>
        <th scope="col">Цена</th>
        <th scope="col">Заселение</th>
        <th scope="col">Адрес,<br>Подробно о квартире</th>
    </tr>
    </thead>
    <tbody>

    {% for flat in flats %}
    <tr>
        <th scope="row">{{ flat.flat_id }}</th>
        <td><a href="{{ flat.url }}{{ flat.url__suffix }}">{{ flat.city }},<br>{{ flat.name }}</a></td>
        <td>{% if flat.rooms == -1 %}
            Студия,
            {% else %}
            {{ flat.rooms }} к,
            {% endif %}
            <br> {{ flat.area }} м,
            <br> {{ flat.floor }} этаж
        </td>

        <td>{% if flat.booking_status == 'reserve' %}
            Бронь
            {% elif flat.booking_status == 'active' %}
            Свободна
            {% else %}
            {{ flat.booking_status }}
            {% endif %}
        </td>
        <td>{{ flat.price }}</td>
        <td>{% if flat.settlement_date %}
            {{ flat.settlement_date|date:"d-m-Y" }}
            {% else %}
            Не указано
            {% endif %}
        </td>
        <td><a href="{{ flat.get_absolute_url }}">{{ flat.address|truncatewords:7 }}
            {% if flat.finishing %}
                С отделкой.
            {% else %}
                Без отделки.
            {% endif %}
            </a>
        </td>


    </tr>
    {% endfor %}

    </tbody>
</table>

<div class="pagination">
		<span class="step-links">
			{% if page_obj.has_previous %}
				<a href="?page=1">&laquo; Первая </a>|
				<a href="?page={{ page_obj.previous_page_number }}"> Предыдущая </a>|
			{% endif %}

			<span class="current">
				Страницы {{ page_obj.number }} из {{ page_obj.paginator.num_pages }} |
			</span>

			{% if page_obj.has_next %}
				<a href="?page={{ page_obj.next_page_number }}"> Следующая </a>|
				<a href="?page={{ page_obj.paginator.num_pages }}"> Последняя &raquo;</a>
			{% endif %}
		</span>
</div>

{% endblock %}