{% extends 'flats/base.html' %}

{% block content %}
    <br>
    <h3>E-mail адрес подтвержден</h3>
    <br>
    <p>Вы подтвердили адрес электронной почты и теперь можете подписаться на рассылку уведомлений
        об изменений стоимости или статуса выбранных квартир. <br>
        Для этого перейдите на страницу "Подробно о квартире" и подпишитесь на отслеживание изменений. <br>
        В настоящее время действует ограничение - отслеживать можно не более трех квартир.<br>
        Для редактирования списка отслеживаемых перейдите на вкладку "Выбранные квартиры".
    </p>
{% endblock %}