{% extends 'flats/base.html' %}

{% block content %}
    <br>
    <h3>Подтверждение e-mail адреса</h3>
    <br>
    <p>Вы подтвердили адрес электронной почты ранее и можете подписаться на рассылку уведомлений
        об изменений стоимости или статуса выбранных квартир. <br>
        Для этого перейдите на страницу "Подробно о квартире" и нажмите кнопку "Отслеживать изменения". <br>
        В настоящее время действует ограничение - отслеживать можно не более трех квартир. Для редактирования перейдите
        на вкладку "Выбранные квартиры".
    </p>
{% endblock %}